expandable {
  .expand-wrapper {
    transition: 0.3s linear;
  }

  .collapsed {
    height: 0 !important;
  }

  ion-card-header {
    padding: 0 !important;
  }

  .header_button {
    padding: 8px 16px !important;
  }
}
